.slider {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: #fff;
    padding: 0px;

    .container {
        background: rgba(0, 0, 0, 0.3);
        height: 100vh;
        min-width: 100vw;
        padding: 0 10%;
    }

    .row {
        padding-top: 30vh;
    }

    h4 {
        font-size: 70px;
        font-weight: 800;
    }

    h2 {
        font-size: 30px;
    }
}

.slick-slider {
    overflow: hidden;
}
