.about {
    @extend %backgroundImg;
    padding: 100px 0px;

    &-back-spin {
        @extend %backgroundImg;
        height: 350px;
        background-size: 100%;
        animation: spin 5s linear infinite;
    }

    &-back-img {
        @extend %backgroundImg;
        height: 350px;
        background-size: 100%;
        position: absolute;
        margin-top: -350px;
    }


    h2 {
        font-weight: 400;
        font-size: 40px;
    }

    p {
        margin-top: 35px;
        font-size: 20px;
        font-weight: 300;
    }
}

.speakers {
    background: #eee;
    padding: 100px 0px;

    h2 {
        width: 100%;
        color: rgb(183, 54, 54);
    }

    h4 {
        font-size: 18px;
        font-weight: 300;
        width: 100%;
    }

    &-area {
        margin-top: 70px;
    }

    &-item {
        margin-bottom: 20px;
    }

    &-img {
        height: 250px;
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 0;
        border-right: 4px solid rgb(230, 111, 111);
    
        .shadow {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            color: #fff;
            padding-top: 100px;
            opacity: 0;
            @include crossBrowser(transition, all 0.5s ease-in);

            &:hover {
                @include crossBrowser(transition, all 0.5s ease-in);
                opacity: 1;
            }

            a {
                color: #fff;
            }
        }
    }

    &-info {
        margin-top: 10px;

        h6 {
            font-weight: 700;
            margin: 0;
            font-size: 18px;
            color: rgb(183, 54, 54);
        }

        p {
            font-weight: 300;
            font-size: 14px;
        }
    }


    &-note {

        .modal-content{
            @extend %backgroundImg;
        }
        

        .modal-body {
            
            .row {
                padding: 20px 50px;
            }

            h6 {
                color: rgb(183, 54, 54);
                font-size: 17px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}




.sponsors {
    @extend %backgroundImg;
    padding: 100px 0px;

    h2 {
        width: 100%;
        color: rgb(183, 54, 54);
    }

    h4 {
        font-size: 18px;
        font-weight: 300;
        width: 100%;
    }

    &-area {
        margin-top: 10px;
        margin-bottom: 50px;

    }


    &-item {
        img {
            max-width: 100%;
            max-height: 50px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}



.register {
    @extend %backgroundImg;
    background-attachment: fixed;
    padding: 100px 0px;
}